<div class="p-5">
  <div>
    <mat-form-field class="lg:w-4" appearance="fill">
      <mat-label class="name_search">Search</mat-label>
      <input matInput [(ngModel)]="searchKey">
    </mat-form-field>
  </div>
  <h2 class="mb-3">Current Acepted Order</h2>
  <div class="orders mb-5 gap-3">
    <div *ngFor="let acceptedOrder of acceptedOrders | filter: searchKey:'name'">
      <app-acepted-order [index]="acceptedOrders.indexOf(acceptedOrder)" [acceptedOrder]="acceptedOrder"
        [productsAccepted]="productsAccepted">
      </app-acepted-order>
    </div>
  </div>

  <h2 class="mb-3">Pending Orders</h2>
  <div class="orders mb-5 gap-3">
    <div *ngFor="let product of productsData | filter: searchKey:'name'">
      <!-- <mat-card class="example-card">
        <mat-card-content class="example-card-content">
          <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/6203/6203085.png" alt="Photo of Shopping Cart">
          <div>
            <p>Pedido #{{productsData.indexOf(product)+1}}</p>
            <p>Estado: Entregada</p>
            <p>Monto: ${{ordersData[productsData.indexOf(product)].quantity*product.price}}</p>
            <p>Product Name: {{product.name}}</p>
            <p>Operation Code: {{ordersData[productsData.indexOf(product)].operationCode}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button  mat-raised-button color="primary" style="width:50%;" (click)="openRejectDialog(productsData.indexOf(product))"
          >Reject Order</button>
          <button  mat-raised-button color="primary" style="width: 50%;" (click)="openAcceptDialog(productsData.indexOf(product))"
          >Accept Order</button>
        </mat-card-actions>
      </mat-card> -->
      <app-pending-order
        [product]="product"
        [index]="productsData.indexOf(product)"
        [ordersData]="ordersData"
        [productsData]="productsData"
      >
      </app-pending-order>
    </div>
  </div>
</div>
