<div class="everything">
  <div class="grid-container">
    <div class="header-container">
      <div class="available_title">
        <h1 class="mat-h1">Available Products</h1>
      </div>
      <div class="search">
        <mat-form-field appearance="fill">
          <mat-label class="name_search">Search</mat-label>
          <input matInput [(ngModel)]="searchKey">
        </mat-form-field>
      </div>
    </div>
    <div class="products">
      <div *ngFor="let product of productsData | filter:searchKey:'name';" class="">
        <app-buy-product-card [product]="product"></app-buy-product-card>
      </div>
    </div>
  </div>
</div>
