
.grid-container {
  padding: 20px;
  background-color: hsl(245, 100%, 90%);
  /* background: url("https://wallpaper.dog/large/5524984.png") ;*/
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.product-data{
  text-align: left;
  padding: 0rem 3rem 1rem 3rem;
}
.name_of_product{
  padding: 1rem 0rem 0rem 2rem;
}
.mat-h1{
  color:white;
}
.name_search{
  color:white;
}

.value-form{
  padding-left: 3rem;
  width: 8rem;
}
.input-product{
  width: 4rem;
}
span{
  color:#673ab7;
}
.product-form{
  float: left;
}
.product-slider{
  float: left;
}
.header-container{
  display: flex;
}
.available_title{
  width: 50%;
  margin:1rem 0rem 0rem 1rem;
}
.search{
  width: 50%;
  margin:0rem 1rem 0rem 0rem;
  text-align: right;
}
.buttons{
  text-align: center;
}

/deep/ .mat-slide-toggle-content{
  font-family: 'Press Start 2P', cursive;
}

/deep/ .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #f99992;
}

/deep/ .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #f44336;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #FBEAFF;
}
