<mat-card>
  <mat-card-content class="flex gap-2">
    <div class="flex align-items-center">
      <img [src]="product.image" alt="Photo of Shopping Cart">
    </div>
    <div>
      <strong>Pedido #{{index+1}}</strong>
      <p>Pedido #{{index+1}}</p>
      <p>Estado: En Espera</p>
      <p>Monto: ${{ordersData[index].quantity*product.price}}</p>
      <p>Product Name: {{product.name}}</p>
      <p>Operation Code: {{ordersData[index].operationCode}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex">
    <button  mat-raised-button class="rejectbutton" style="width:50%;" (click)="openRejectDialog(productsData.indexOf(product))"
    >Reject Order</button>
    <button  mat-raised-button class="acceptbutton" style="width: 50%;" (click)="openAcceptDialog(productsData.indexOf(product))"
    >Accept Order</button>
  </mat-card-actions>
</mat-card>
