<div class="bg-gray-200">
  <div class="grid-container" style="background-color: rgb(241, 241, 241);">
    <div class="flex justify-content-evenly align-items-baseline">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="button-add">
        <button class="big-text" mat-raised-button color="primary" (click)="openDialogAdd()">
          <i class="bi bi-plus-circle-dotted mr-2"></i>
          <span>Add Product</span>
        </button>
        <!-- <button mat-raised-button color="accent" (click)="openDialogAdd()">Add Item</button> -->
      </div>

    </div>
    <div class="flex justify-content-between mx-7">
      <div [ngStyle]="{ 'display': productsData.length != 0? 'none':'flex'}" >
        <div class="no-products flex flex-column align-items-center gap-2">
          <i class="bi bi-exclamation-octagon "></i>
          <p>There is <strong>NO</strong> products. Add one please.</p>
        </div>
      </div>
      <div [ngStyle]="{ 'display': productsData.length == 0? 'none':'block'}" class="justify-content-center" style="width:65vw;">
        <div  class="products grid p-cols-3 gap-3">
            <div *ngFor="let product of productsData;" class="">
              <app-product-show-card (timeToUpdate)="updateProductsData()" [product]="product"></app-product-show-card>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
