<app-retail-seller-navbar></app-retail-seller-navbar>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Pay</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label class="tittles-in-color"><strong>Payee Details</strong></mat-label>
    <table class="example-full-width"><tr>
      <td>
        <input matInput class="input-box" type="text" placeholder="Name" name="Name"  value="" size="50">
      </td>
    </tr>
    </table>

    <table class="example-full-width">
      <tr><td>
        <mat-select>
          <mat-option value="Peru">+51</mat-option>
          <mat-option value="Argentina">+54</mat-option>
          <mat-option value="Brazil">+55</mat-option>
          <mat-option value="Chile">+56</mat-option>
          <mat-option value="Colombia">+57</mat-option>
          <mat-option value="Venezuela">+58</mat-option>
        </mat-select>
      </td><td>
        <input matInput class="input-box" placeholder="Cellphone Number" name="Number"  value="" size="39">
      </td> </tr>
    </table>

    <table class="example-full-width">
      <tr>
        <td>
          <input matInput class="input-box" type="email" placeholder="Email" name="Email"  value="" size="50">
        </td>
      </tr>
    </table>

    <mat-label class="tittles-in-color"><strong>Card Details</strong></mat-label>
    <table class="example-full-width" ><tr>
      <td>
        <input matInput  class="input-box"  placeholder="Card Number" name="Card Number"  value="" size="40">
      </td>
      <td>
        <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png">
      </td>
    </tr></table>

    <mat-label class="tittles-in-color"><strong>Card Details</strong></mat-label>
    <table class="example-full-width" ><tr>
      <td>
        <input matInput  class="input-box" type="date" placeholder="Expirates Date" name="Expirates Date"  value="" size="40">
      </td>
      <td>
        <input matInput class="input-box" placeholder="CVV" name="CVV"  value="" size="29">
      </td>
    </tr></table>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Proceed to Pay</button>
  </mat-card-actions>
</mat-card>
