<mat-toolbar color="primary">
  <h2>Ksero App</h2>
  <div class="mat-spacer"></div>
  <!-- App Options -->
  <a mat-button [routerLink]="['/retail-seller',id,'profile']">Profile</a>
  <a mat-button [routerLink]="['/retail-seller',id,'products']">Products</a>
  <a mat-button [routerLink]="['/retail-seller',id,'payment']">Payment</a>
  <a mat-button [routerLink]="['/retail-seller',id,'shopping-car']">Shopping Car</a>
  <a mat-button [routerLink]="['/retail-seller',id,'orders']">Orders</a>
  <a mat-button (click)="Logout()">Logout</a>

</mat-toolbar>
