.left-section {
  background-color: rgba(98, 0, 238, 0.72);
  width: 668px;
  height: 760px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(103, 10, 236, 0.62),
      rgba(103, 10, 238, 0.62)
    ),
    url("https://eu-central-1.linodeobjects.com/contactcenterhub/2022/10/supermercados-768x432.jpg");
  border-radius: 3px;
}

.title-h2 {
  margin: 0;
  color: white;
  letter-spacing: 2px;
  font-size: 40px;
  font-family: 'Exo2', sans-serif;
  text-shadow: black 2px 3px 7px;
  text-align: center;
}

.img-cart {
  width: 140px;
  height: 140px;
  text-align: center;
  padding: 380px 0 20px 260px;
}
