<app-retail-seller-navbar></app-retail-seller-navbar>

<mat-card class="general-card">
  <mat-card-title>Shopping cart</mat-card-title>
  <mat-card-content>
    <div class="container">

      <div class="order">
        <p class="tittles">Order</p>
        <mat-grid-list cols="2" rowHeight="350px">
          <mat-card class="card-order" *ngFor="let product of productsData">
            <mat-card-content class="card-order-content">
              <div class="p-name">Product Name: {{product.name}}</div>
              <div class="p-price">Product Price: {{product.price}} </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-list>

      </div>

      <div class="payment-summary">
        <p class="tittles">Payment Summary</p>
        <mat-card class="card-order">
          <mat-card-content >
            <div class="p-general-2">Suma de productos: {{sumProducts}}</div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="SubmitOrder()">Proceder a pagar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>
