<mat-toolbar class="bg-purple-primary text-white">
  <div class="logo flex align-items-center gap-2">
    <h1>Ksero</h1> <i class="bi bi-cart-fill text-3xl"></i>
  </div>
  <div class="mat-spacer"></div>
  <!-- App Options -->

  <a mat-button *ngIf="userType == userTypes.WholeSaler" [routerLink]="['/wholesaler','profile']">Profile</a>
  <a mat-button *ngIf="userType == userTypes.WholeSaler" [routerLink]="['/wholesaler','products']">Products</a>
  <a mat-button *ngIf="userType == userTypes.WholeSaler" [routerLink]="['/wholesaler','orders']">Orders</a>

  <a mat-button *ngIf="userType == userTypes.RetailSaler" [routerLink]="['/retail-seller','profile']">Profile</a>
  <a mat-button *ngIf="userType == userTypes.RetailSaler" [routerLink]="['/retail-seller','products']">Products</a>
  <a mat-button *ngIf="userType == userTypes.RetailSaler" [routerLink]="['/retail-seller','payment']">Payment</a>
  <a mat-button *ngIf="userType == userTypes.RetailSaler" [routerLink]="['/retail-seller','shopping-car']">Shopping
    Car</a>
  <a mat-button *ngIf="userType == userTypes.RetailSaler" [routerLink]="['/retail-seller','orders']">Orders</a>
  <a mat-button (click)="Logout()">Logout</a>

</mat-toolbar>
