<app-home-navbar></app-home-navbar>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<mat-card class="initial-card">
  <mat-card-title><span>K-sero</span></mat-card-title>
  <mat-card-subtitle>Hacemos las cosas mas simples</mat-card-subtitle>
  <mat-card-content>
    <p class="content">Abarrotes, medicamentos, conservas y mucho más</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://draacckeer.github.io/LandingPage_Ksero/">Mas información</a>
  </mat-card-actions>
</mat-card>

<mat-card class="second-card">
  <mat-card-content>
    <p class="content2"><b>Colaboradores:</b></p>
  </mat-card-content>
  <div class="container">
    <div class="sub">
      <br>
      <img mat-card-image class="contributor-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Alicorp.svg/1200px-Alicorp.svg.png">
      <p class="contributor-text"> Una empresa de bienes de consumo peruana</p>
    </div>
    <div class="sub">
      <img mat-card-image class="contributor-logo" src="https://0901.static.prezi.com/preview/v2/xmgpciovzde3f7kzfwmmwyb2fx6jc3sachvcdoaizecfr3dnitcq_1_0.png">
      <p class="contributor-text"> Marca peruana de alimentos, destacados por lácteos</p>
    </div>
    <div class="sub">
      <br>
      <img mat-card-image class="contributor-logo" src="https://www.yichang.com.pe/imagenes/GW_Yichang_Cia-Logo.png">
      <p class="contributor-text"> Empresa importadora, comercializadora y distribuidora en el Perú </p>
    </div>
    <div class="sub">
      <br>
      <img mat-card-image class="contributor-logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Coca-Cola_logo.svg">
      <p class="contributor-text"> Corporación multinacional estadounidense de bebidas </p>
    </div>
  </div>
</mat-card>

<mat-card class="third-card">
  <mat-card-content>
    <p class="content2"><b>Beneficios y mejoras:</b></p>
  </mat-card-content>
  <div class="container2">
    <div class="sub2">
      <p class="beneficts-text"> Atencion 24/7 para la compra y venta de productos</p>
    </div>
    <div class="sub2">
      <p class="beneficts-text"> Tracking y estimaciones actualizados de todos tus pedido</p>
    </div>
  </div>
  <div class="container3">
    <div class="sub2">
      <p class="beneficts-text"> Gran variedad de productos y convenios con diversas marcas</p>
    </div>
    <div class="sub2">
      <p class="beneficts-text"> Interfaz intuitiva y amigable para todo tipo de usuarios</p>
    </div>
  </div>
</mat-card>
