<app-home-navbar></app-home-navbar>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<mat-card class="initial-card">
  <mat-card-title>K-sero</mat-card-title>
  <mat-card-subtitle>We make things easier</mat-card-subtitle>
  <mat-card-content>
    <p class="content">Groceries, medicines, preserves and much more</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://draacckeer.github.io/LandingPage_Ksero/">More information</a>
  </mat-card-actions>
</mat-card>

<mat-card class="second-card">
  <mat-card-content>
    <p class="content2">Companies that collaborate:</p>
  </mat-card-content>
  <div class="container">
    <div class="sub">
      <img mat-card-image class="contributor-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Alicorp.svg/1200px-Alicorp.svg.png">
      <p class="contributor-text">A Peruvian consumer goods company</p>
    </div>
    <div class="sub">
      <img mat-card-image class="contributor-logo" src="https://0901.static.prezi.com/preview/v2/xmgpciovzde3f7kzfwmmwyb2fx6jc3sachvcdoaizecfr3dnitcq_1_0.png">
      <p class="contributor-text"> Peruvian food brand, highlighted by dairy</p>
    </div>
    <div class="sub">
      <img mat-card-image class="contributor-logo" src="https://0901.static.prezi.com/preview/v2/xmgpciovzde3f7kzfwmmwyb2fx6jc3sachvcdoaizecfr3dnitcq_1_0.png">
      <p class="contributor-text"> Peruvian food brand, highlighted by dairy</p>
    </div>
    <div class="sub">
      <img mat-card-image class="contributor-logo" src="https://0901.static.prezi.com/preview/v2/xmgpciovzde3f7kzfwmmwyb2fx6jc3sachvcdoaizecfr3dnitcq_1_0.png">
      <p class="contributor-text"> Peruvian food brand, highlighted by dairy</p>
    </div>
  </div>
</mat-card>

<mat-card class="third-card">
  <mat-card-content>
    <p class="content2">Benefits and improvements:</p>
  </mat-card-content>
  <div class="container2">
    <div class="sub2">
      <p class="beneficts-text"> 24/7 attention for the purchase and sale of products</p>
    </div>
    <div class="sub2">
      <p class="beneficts-text"> Tracking and updated estimates of all your orders</p>
    </div>
  </div>
  <div class="container3">
    <div class="sub2">
      <p class="beneficts-text"> Wide variety of products and agreements with various brands</p>
    </div>
    <div class="sub2">
      <p class="beneficts-text"> Intuitive and friendly interface for all types of users</p>
    </div>
  </div>
</mat-card>
