*{
  scroll-behavior: smooth !important;
  transition: 1s;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.container-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.left-section {
  background-color: rgba(98, 0, 238, 0.72);
  width: 45%;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(103, 10, 236, 0.69),
      rgba(103, 10, 238, 0.69 )
    ),
    url("https://eu-central-1.linodeobjects.com/contactcenterhub/2022/10/supermercados-768x432.jpg");
  border-radius: 3px;
}

.left-section > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right-section {
  width: 55%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-h2 {
  margin: 0;
  color: white;
  letter-spacing: 3px;
  font-size: 50px;
  font-family: 'Exo2', sans-serif;
  text-shadow: #737272 2px 0 10px;
  text-align: center;
}

.login-h2 {
  color: #6200EE;
  font-size: 28px;
  align-self: start;
  width: fit-content;
}

.subtitle-h3 {
  color: rgba(114, 114, 114, 0.94);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.subtitle-h4 {
  color: rgba(96, 95, 95, 0.94);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
}

.subtitle-span {
  margin-left: 7px;
  cursor: pointer;
  padding-bottom: 5px;
  color: #6200EE;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.subtitle-span {
  display: inline-block;
  position: relative;
  color: #6200EE;
}

.subtitle-span::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6200EE;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.subtitle-span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

form-field {
  margin-left: 80px;
}

.right-section-container {
  width: 400px;
  height: 500px;
}

.img-cart {
  color: white;
  width: 190px;
  height: 150px;
  text-align: center;
  transform: translateX(-10px);
}

.button-login {
  background-color: rgba(93, 0, 227, 0.91);
  color: white;
  width: 410px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
}

.checkbox {
  margin-top: 25px;
}

.social-media-icons {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.form-field {
  padding-top: 15px;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #6200EE !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #6200EE !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #6200EE !important;
}

/*Mat Checkbox*/

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #6200EE !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #6200EE !important;
}

.right-section form.content {
  width: 450px;
}


.button-login {
  margin: 20px 0 15px 0;
}
