<app-home-navbar></app-home-navbar>

<div class="background-image">
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <h2 class="padding">Register in Ksero</h2>
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="userFormGroup">

        <!--Username-->
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" autocomplete="off" formControlName="username" >
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('minlength')">
            Username must have at least <strong>6</strong> characters
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('maxlength') &&
                            !userFormGroup.get('username')?.hasError('required')">
            Username must have less than <strong>16</strong> characters
          </mat-error>
        </mat-form-field>
        <br>

        <!--Password-->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="off" formControlName="password" type="password">
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('minlength')">
            Password must have at least <strong>6</strong> characters
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('maxlength') &&
                            !userFormGroup.get('password')?.hasError('required')">
            Password must have less than <strong>16</strong> characters
          </mat-error>
        </mat-form-field>
        <br>

        <!--Email-->
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" autocomplete="off" formControlName="email" >
          <mat-error *ngIf="userFormGroup.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('email')?.hasError('email')">
            Data <strong>must</strong> be an email
          </mat-error>
        </mat-form-field>
        <p *ngIf="warningAlert">Usuario ya registrado</p>
        <button class = "margin-button" mat-raised-button color="primary" type="submit" (click)="SubmitRegisterRetailSeller()">Register as a Retail Seller</button>
        <button class = "margin-button" mat-raised-button color="warn" type="submit" (click)="SubmitRegisterWholesaler()">Register as a Wholesaler</button>
      </form>
    </mat-card>
  </div>


</div>
